body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9189dd;
}
.container {
    max-width: 40%;
    background-color: #dddbdb;
    padding: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-label {
    color: #120c6b;
}

button {
    width: 100%;
}